---
import { Lazy, Pagination, Responsive, Section } from '@components/common';
import { Seo } from '@components/helper';
import { Layout } from '@components/layout';
import { ProjectCard, ProjectPageHeader } from '@components/project';
import { SITE_NAME } from '@constants/seo';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async ({ paginate }) => {
  const projectCollection = await getCollection('project');
  const projects = projectCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return paginate(projects, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageTitle = `프로젝트 - ${SITE_NAME}`;
---

<Layout pageTitle={pageTitle} hasHeaderBackgrond>
  <Section>
    <Responsive>
      <ProjectPageHeader />
      <Lazy className="mt-12 flex flex-col gap-12 lg:mt-20">
        {
          page.data.map(({ data }) => (
            <ProjectCard
              thumbnail={data.thumbnail}
              title={data.title}
              descriptions={data.descriptions}
              tags={data.tags}
              links={data.links}
            />
          ))
        }
      </Lazy>
      <Pagination
        className="mt-12 lg:mt-20"
        page={page.currentPage}
        lastPage={page.lastPage}
        buttonUrlPrefix="/project/page"
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        client:load
      />
    </Responsive>
  </Section>
  <Seo slot="meta" title={pageTitle} />
</Layout>
