---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Lazy, Pagination, Responsive, Section } from '@components/common';
import { ProjectCard, ProjectPageHeader } from '@components/project';
import { Layout } from '@components/layout';
import { PageSEO } from '@components/helper';
import { SITE_NAME } from '@constants/seo';

export const getStaticPaths = (async ({ paginate }) => {
  const projectCollection = await getCollection('project');
  const projects = projectCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return paginate(projects, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const pageTitle = `(｡•̀ᴗ-)✧ 열심히 만들어 온 프로젝트 - ${SITE_NAME}`;
---

<Layout pageTitle={pageTitle} headerBg>
  <Section>
    <Responsive>
      <ProjectPageHeader />
      <Lazy className="mt-12 flex flex-col gap-12 lg:mt-20">
        {
          page.data.map(({ data }) => (
            <ProjectCard
              thumbnail={data.thumbnail}
              title={data.title}
              descriptions={data.descriptions}
              tags={data.tags}
              links={data.links}
            />
          ))
        }
      </Lazy>
      <Pagination
        className="mt-12 lg:mt-20"
        page={page.currentPage}
        lastPage={page.lastPage}
        buttonUrlPrefix="/project/page"
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        client:load
      />
    </Responsive>
  </Section>

  <!-- HEAD -->
  <PageSEO
    slot="meta-data"
    title={pageTitle}
    description="풍부한 상상과 호기심으로 만들어 온 다양한 프로젝트를 소개합니다!"
    keywords={['프로젝트', 'Project']}
  />
</Layout>
