---
import { twMerge } from 'tailwind-merge';
import { Header, Footer } from '@components/common';
import '@styles/main.css';

type Props = {
  pageTitle: string;
  headerBg?: boolean;
};

const { pageTitle, headerBg = false } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <slot name="meta-data" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons//apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/icons//apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/icons//apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/icons//apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/icons//apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/icons//apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/icons//apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/icons//apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons//apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/icons//android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons//favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/icons//favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons//favicon-16x16.png" />
    <link rel="manifest" href="/icons//manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <title>{pageTitle}</title>

    <slot name="preload-data" />

    <!-- Preload Datas -->
    <!-- <link rel="preload" as="font" type="font/woff2" crossorigin="" href="/fonts/pretendard/Pretendard-Bold.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin="" href="/fonts/pretendard/Pretendard-SemiBold.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin="" href="/fonts/pretendard/Pretendard-Medium.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin="" href="/fonts/pretendard/Pretendard-Regular.woff2" />
    <link rel="preload" as="font" type="font/ttf" crossorigin="" href="/fonts/firacode/FiraCode-Regular.ttf" /> -->
  </head>
  <body>
    <Header hasBg={headerBg} pathname={pathname} client:load />
    <main class={twMerge('min-h-[calc(100%-160px)] lg:min-h-[calc(100%-200px)] flex flex-col', headerBg && 'pt-16')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  // ê¸€ ë³µì‚¬ì— ëŒ€í•œ ì¶œì²˜ ìë™ ì¶”ê°€
  if (navigator.clipboard) {
    window.addEventListener('copy', async () => {
      const copiedText = await navigator.clipboard.readText();
      const copyright = `ì¶œì²˜: ${window.location.href} [ë£¨ì‹œë“œ ë“œë¦¼ ğ–¤]`;

      navigator.clipboard.writeText(`${copiedText}\n\n${copyright}`);
    });
  }
</script>
