---
import { getCollection } from 'astro:content';
import purify from 'isomorphic-dompurify';
import Fuse from 'fuse.js';
import { twMerge } from 'tailwind-merge';
import { Lazy, Responsive, Section } from '@components/common';
import { SearchResult, SearchResultEmpty, SearchResultHeader } from '@components/search';
import { Layout } from '@components/layout';
import { getCategoryNameFromSlug, getStoryLinkFromSlug } from '@utils/post';
import { PageSEO } from '@components/helper';
import { SITE_NAME, SITE_URL } from '@constants/seo';

const query = Astro.url.searchParams.get('q') ?? '';

// 한글 검색어를 위한 디코딩과 DOMPurify를 이용한 XSS 방어
const decodedQuery = decodeURIComponent(query);
const sanitizedQuery = purify.sanitize(decodedQuery);

const storyCollection = await getCollection('story');

// Fuse.js 검색을 위해 데이터 가공
const mappedList = storyCollection.map((story) => ({
  ...story.data,
  href: getStoryLinkFromSlug(story.slug),
  body: story.body,
  category: {
    key: story.slug.split('/')[0],
    value: getCategoryNameFromSlug(story.slug),
  },
}));

// TODO 가중치를 더욱 세밀하게 조정해야 함
const fuse = new Fuse(mappedList, {
  keys: [
    { name: 'title', weight: 1 },
    { name: 'body', weight: 1 },
    { name: 'tags', weight: 1 },
    { name: 'category.key', weight: 1 },
    { name: 'category.value', weight: 1 },
  ],
});

const result = fuse.search(sanitizedQuery);

const pageTitle =
  sanitizedQuery === '' ? '검색 키워드를 입력해 주세요 ^오^' : `'${sanitizedQuery}' 검색 결과 - ${SITE_NAME}`;

export const prerender = false;
---

<Layout pageTitle={pageTitle} headerBg>
  <Section className={twMerge(result.length === 0 && 'flex flex-1 flex-col')}>
    <Responsive className={twMerge(result.length === 0 && 'flex flex-1 flex-col')}>
      <SearchResultHeader query={sanitizedQuery} />
      {
        result.length === 0 ? (
          <SearchResultEmpty />
        ) : (
          <Lazy className="mt-12 lg:mt-20">
            <SearchResult datas={result} client:load />
          </Lazy>
        )
      }
    </Responsive>
  </Section>

  <!-- HEAD -->
  <PageSEO
    slot="meta-data"
    title="검색 결과 (｡•̀ᴗ-)✧"
    description="검색을 통해 알맞은 스토리를 찾아보세요 ✨"
    keywords={['검색', 'Search']}
  />
  <link rel="canonical" href={`${SITE_URL}/search`} />
  <link rel="canonical" href="/search" />
</Layout>
