---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Card, Pagination } from '@components/common';
import {
  StoryCardSection,
  StoryCategoryExpansionButton,
  StoryCategoryItem,
  StoryCategoryList,
  StoryCategorySection,
  StoryHeaderSection,
  StoryPaginationSection,
} from '@components/story';
import { MainLayout } from '@components/layout';
import { CATEGORY } from '@constants';

export const getStaticPaths = (async ({ paginate }) => {
  const storyCollection = await getCollection('story');

  return Object.entries(CATEGORY).flatMap(([key]) => {
    // 카테고리별 필터링 후 날짜 내림차순으로 정렬
    const stories = (
      key === 'all' ? storyCollection : storyCollection.filter((story) => story.slug.split('/')[0] === key)
    ).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    return paginate(stories, {
      pageSize: 9,
      params: { category: key },
      props: {
        categories: Object.entries(CATEGORY).map(([key, value]) => ({
          name: value,
          count:
            key === 'all'
              ? storyCollection.length
              : storyCollection.filter((story) => story.slug.split('/')[0] === key).length,
          link: `/story/${key}/page/1`,
        })),
      },
    });
  });
}) satisfies GetStaticPaths;

const { page, categories } = Astro.props;
const { pathname } = Astro.url;
---

<MainLayout pageTitle="화려히 반짝일 나의 스토리 (｡•̀ᴗ-)✧" headerBg>
  <StoryHeaderSection />
  <StoryCategorySection>
    <StoryCategoryList slot="list">
      {
        categories.map((category) => (
          <StoryCategoryItem
            pathname={pathname}
            name={category.name}
            count={category.count}
            href={category.link}
            client:load
          />
        ))
      }
    </StoryCategoryList>
    <StoryCategoryExpansionButton categories={categories} pathname={pathname} client:load slot="button" />
  </StoryCategorySection>
  <StoryCardSection>
    {
      page.data.map(({ slug, data }) => (
        <a href={`/story/${slug.replace('/', '/post/')}`}>
          <Card
            thumbnail={data.thumbnail.src}
            title={data.title}
            description={data.description}
            date={data.date}
            category={CATEGORY[slug.split('/')[0] as keyof typeof CATEGORY]}
          />
        </a>
      ))
    }
  </StoryCardSection>
  <StoryPaginationSection>
    <Pagination
      page={page.currentPage}
      lastPage={page.lastPage}
      buttonUrlPrefix={page.url.current.replace(/\/\d+$/, '')}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      client:load
    />
  </StoryPaginationSection>
</MainLayout>

<script>
  document.querySelector('.current-category')?.scrollIntoView({ block: 'center' });
</script>
