---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Card, Lazy, Pagination, Responsive, Section } from '@components/common';
import { StoryCategories, StoryCategoryExpansionButton, StoryCategory, StoryPageHeader } from '@components/story';
import { Layout } from '@components/layout';
import { CATEGORY } from '@constants/post';
import { getCategoryNameFromSlug, getStoryLinkFromSlug } from '@utils/post';

export const getStaticPaths = (async ({ paginate }) => {
  const storyCollection = await getCollection('story');

  return Object.entries(CATEGORY).flatMap(([key]) => {
    // 카테고리별 필터링 후, 날짜 내림차순으로 정렬
    const stories = (
      (key as keyof typeof CATEGORY) === 'all'
        ? storyCollection
        : storyCollection.filter((story) => story.slug.split('/')[0] === key)
    ).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    // 카테고리별 페이지네이션
    return paginate(stories, {
      pageSize: 9,
      params: { category: key },
      props: {
        categories: Object.entries(CATEGORY).map(([key, value]) => ({
          name: value,
          count:
            (key as keyof typeof CATEGORY) === 'all'
              ? storyCollection.length
              : storyCollection.filter((story) => story.slug.split('/')[0] === key).length,
          href: `/story/${key}/page/1`,
        })),
      },
    });
  });
}) satisfies GetStaticPaths;

const { page, categories } = Astro.props;
const { pathname } = Astro.url;
---

<Layout pageTitle="화려히 반짝일 나의 스토리 (｡•̀ᴗ-)✧" headerBg>
  <Section>
    <Responsive>
      <StoryPageHeader />
      <StoryCategories>
        {categories.map((category) => <StoryCategory slot="item" pathname={pathname} {...category} client:load />)}
        <StoryCategoryExpansionButton slot="button" categories={categories} pathname={pathname} client:load />
      </StoryCategories>
      <Lazy className="mt-8 grid gap-8 lg:mt-16 lg:grid-cols-3">
        {
          page.data.map(({ slug, data }) => (
            <a href={getStoryLinkFromSlug(slug)}>
              <Card
                thumbnail={data.thumbnail}
                title={data.title}
                description={data.description}
                date={data.date}
                category={getCategoryNameFromSlug(slug)}
                client:load
              />
            </a>
          ))
        }
      </Lazy>
      <Pagination
        className="mt-12 lg:mt-20"
        page={page.currentPage}
        lastPage={page.lastPage}
        buttonUrlPrefix={page.url.current.replace(/\/\d+$/, '')}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        client:load
      />
    </Responsive>
  </Section>
</Layout>

<script>
  // 현재 카테고리로 스크롤 이동
  document.querySelector('.current-category')?.scrollIntoView({ block: 'center' });
</script>
